<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://gdc.indeed.com/ads/apiresults.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <title>Pipel1ne</title>  
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if (!user)  { %>
        <form method="GET" action="/users/new" class="navbar-form navbar-left">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Sign-up</button>
          </div>  
        </form>
        <form method="POST" action="/sessions" class="navbar-form navbar-right">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="username" focus>
          <input type="password" class="form-control" placeholder="Password" name="password" focus>
          <button type="submit" class="btn btn-primary">Log-in</button>
          </div>  
        </form>
        <% } %>
        <% if (user) { %>
        <form method="GET" action="/users/<%= user.id %>" class="navbar-form navbar-left">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Profile</button>
          </div>  
        </form>
        <form method="GET" action="/search" class="navbar-form navbar-left">
          <div class="form-group">
          <input value="<%= user.skills %> , <%= user.security_clearance %>" type="hidden" name = "l">
          <button type="submit" class="btn btn-success">Jobs for you</button>
          </div>  
        </form>
        <form method="GET" action="/search" class="navbar-form navbar-left">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Keyword search" name="l" focus>
          <button type="submit" class="btn btn-warning">Search more jobs</button>
          </div>  
        </form>
        <form method="POST" action="/sessions?_method=DELETE" class="navbar-form navbar-right">
          <div class="form-group">
          <button type="submit" class="btn btn-danger">Log-out</button>
          </div>  
        </form>
        <% } %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav><br>
  <div class="jumbotron">
    <div class="page-header">
      <h1>Welcome to Pipel1ne <small>The #1 source for veterans</small></h1>
      <% if (!user)  { %>
      <h3>You have sacrificed so much.  Now it is our turn to serve you.</h3>
      <% } %>
      <% if (user)  { %>
      <h3>Thank you <%= user.first_name %>! How may we serve</h3>
       <% } %>
    </div>     
  </div>

</body>
</html>